/************************************
* Basic Styles
************************************/

ol, ul {
  list-style: none;
}


/***********************************
* Card Styles
***********************************/

.card {
  width: 150px;
  height: 200px;
  border: 1px solid black;
}

.back {
  background-color: blue;
}

.front span {
  display: block;
}

.back span {
  display: none;
}

.card span {
  width: 100%;
  height: 100%;
}


/***********************************
* Statistics Styles
***********************************/

.timer {
  width: 100px;
  height: 50px;
  border: 1px solid black;
}


/***********************************
* Layout
***********************************/

#game-board {
  width: 70%;
  float: left;
}

#game-board ol {
  display: grid;
  grid: 250px 250px 250px 250px / 25% 25% 25% 25%
}

#menu {
  float: right;
  width: 30%;
}
