/************************************
* Basic Styles
************************************/

body {
  font-family: 'Titillium Web', sans-serif;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 100%;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

button {
  font-family: 'Titillium Web', sans-serif;
  border-radius: 10px;
  font-size: 100%;
  font-weight: 400;
}

ol, ul {
  list-style: none;
  padding-left: 0;
}

.hidden {
  visibility: hidden;
}

/***********************************
* Card Styles
***********************************/

.container {
  min-height: 100px;
  min-width: 50px;
  max-width: 200px;
  max-height: 300px;
  transform: visibility 5s;
  perspective: 800px;
}

.card, .card figure {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: absolute;
}

.card {
  transform-style: preserve-3d;
  transition: transform 1s;
  box-shadow: 2px 2px 15px #1b1b1b;
  border: 2px solid #000000;
}

.card figure {
  margin: 0;
  backface-visibility: hidden;
}

.front {
  background-color: #f9f7c6;
  display: block;
  transform: rotateY(180deg);
  box-shadow: 0px 0px 20px #ababab inset;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card i {
  text-shadow: 1px 1px 5px #FFFFFF;
  font-size: 200%;
}


.back {
  display: block;
  background-color: #bdbcbc;
  background-image: url(../media/pattern.svg);
  background-size: cover;
  box-shadow: 0px 0px 10px #d0cece inset;

}

.card.flipped {
  transform: rotateY(180deg);
}


/***********************************
* Statistics Styles
***********************************/
#statistics {
  color: white;
  margin-left: 10%;
}

#timer {

}

#num-of-moves {

}

#num-of-games {

}

#restart-game {
    height: 50%;
    margin-right: 10%;
}

#star-rating {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin-left: 10%;
}

.star {
  display: inline;
  color: yellow;
  text-shadow: 1px 1px #bf6c00;
}


/***********************************
* User Interaction
***********************************/



/***********************************
* Layout
***********************************/

#game-board {
  width: 80vw;
  height: 100vh;
  /* margin: auto; */
}

#game-board ol {
  /* margin: auto; */
  display: grid;
  grid: repeat(4, 1fr) / repeat(4, 1fr);
  grid-gap: 10px;
}

#menu {
  display: grid;
  grid: 1fr / 3fr 1fr 2fr;
  align-items: center;
  background-color: black;
  width: 95vw;
  margin-bottom: 20px;
}


/************************************
* Keyframes, Transitions and Animations
************************************/

@keyframes wrongAnimation {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(20deg);}
  100% {transform: rotate(25deg);}
}

@keyframes rightAnimation {
  0% {transform: scale(0);}
  50% {transform: scale(1);}
  100% {transform: scale(0);}
}

.wrong {
  animation: wrongAnimation 0.5s;
  background-color: red !important;
}

.right {
  animation: rightAnimation 0.5s;
  background-color: green !important;
}

/* Hide back side when card's match and
mismatch animation is playing */
.card.wrong .back, .card.right .back {
  display: none;
}

.card.wrong .front {
  transform: rotateY(180deg);
}

/***********************************
* Win Game Modal
***********************************/

/* basic modal code from W3School  */
#win-game-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 30vh;
}

#start-game-modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 30vh;
}


.modal-content {
  background-color: white;
  max-width: 30%;
  margin: auto;
  padding: 40px 0;
  text-align: center;
}

#start-game {
  width: 100%;
  height: 100%;
}

.modal-content h1 {
  background-color: purple;
  background-position: 50% 50%;
}

/********************************
* Media Queries
********************************/

@media screen and (min-width: 800px) {
  body {
    font-size: 100%;
  }

  #menu {
    display: block;
    width: 20%;
    order: 1;
    height: auto;
    padding-top: 10%;
  }

  #game-board {
    width: 60%;
    padding: 0;
    margin: auto;
    padding-top: 20px;
  }

  #restart-game {
    height: auto;
    margin: auto;
    display: block;
    font-size: 100%;
    margin-top: 10%;
  }

  #star-rating {
    display: inline-block;
  }

  .container {
    max-width: 150px;
    max-height: 200px;
  }
}
